---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: hello-stateful-operator
rules:
- apiGroups:
  - hello-stateful.example.com
  resources:
  - "*"
  verbs:
  - "*"
- apiGroups:
  - ""
  resources:
  - pods
  - services
  - endpoints
  - events
  - configmaps
  - persistentvolumeclaims
  - secrets
  verbs:
  - "*"
- apiGroups:
  - apps
  resources:
  - deployments
  - daemonsets
  - replicasets
  - statefulsets
  verbs:
  - "*"
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: default-account-hello-stateful-operator
subjects:
- kind: ServiceAccount
  name: default
roleRef:
  kind: Role
  name: hello-stateful-operator
  apiGroup: rbac.authorization.k8s.io
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: hello-stateful-operator-cluster
rules:
- apiGroups:
  - ""
  resources:
  - persistentvolumes
  verbs:
  - "get"
  - "list"
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: default-account-hello-stateful-operator-cluster
subjects:
- kind: Group
  name: system:serviceaccounts
roleRef:
  kind: ClusterRole
  name: hello-stateful-operator-cluster
  apiGroup: rbac.authorization.k8s.io
